@import "tailwindcss";

.btn {
  @apply w-full py-2 rounded-lg bg-blue-600 text-white font-semibold;

 background-color: #0B2E33;
  color: #B8E3E9;
  font-size: 20px;
 
}

.input {
  @apply w-full px-3 py-2 border rounded-lg border-gray-300;
}
